table{
    border: 1px solid;
    border-collapse: collapse;
}

th{
    border-bottom: 1px solid;
    text-align: center;
}

td:nth-child(1){
    text-align: left;
}

td:nth-child(2){
    text-align: left;
    min-width: 90px;
}

tr{
    text-align: right;
}

tr:nth-child(even){
    background-color: #b1b9e6;
}